/* Circles.css */
.circle-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    position: relative;
}


.sde {
    fill: #e74c3c;
    /* Pentagon color */
    animation: movePentagon 5s linear infinite;
    position: relative;
    z-index: -100;
}

.circle {
    width: 65px;
    height: 65px;
    background-color: #3498db;
    border-radius: 50%;
    animation: moveCircle 5s linear infinite;
    transition: transform 0.5s;
    position: absolute;

}

@keyframes moveCircle {
    0% {
        transform: rotate(0deg) translateY(-100px) scale(1);
        z-index:-10;
    }

    25% {
        transform: rotate(90deg) translateY(-100px);
        z-index:-10;
    }

    75% {
        transform: rotate(270deg) translateY(-100px) scale(1.9);
        z-index:10;
    }

    100% {
        transform: rotate(360deg) translateY(-100px);
        z-index:-10;
    }
    
}

@keyframes movePentagon {

    0%{
        transform: translateX(0) rotate(0deg);
        z-index:-10;
    }

    25% {
        transform: translateX(25px) rotate(90deg);
        z-index:-10;
    }

    50%
     {
        transform: translateX(0) rotate(180deg);
        z-index:-10;
    }

   75%{
    transform: translateX(0) rotate(270deg);
    z-index:-10;
   }

    100% {
        transform: translateX(0) rotate(360deg);
        z-index:-10;
    }
}

.circle:nth-child(1) {
    animation-delay: 1s;
}


.circle:nth-child(2) {
    animation-delay: 1s;
}

.circle:nth-child(3) {
    animation-delay: 2s;
}

.circle:nth-child(4) {
    animation-delay: 3s;
}

.circle:nth-child(5) {
    animation-delay: 4s;
}

.circle:hover {
    transform: scale(2);
    /* Add a hover effect to enlarge the circle */
}